# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
server
duckcli

# Database files & datasets
dataset/
*.duckdb
*.db
*.sqlite
*.sqlite3

# Test binary, built with `go test -c`
*.test

# Code coverage profiles and other test artifacts
*.out
coverage.*
*.coverprofile
profile.cov

# Go workspace file
go.work
go.work.sum

# env file
.env

# Editor/IDE
.idea/
.vscode/
.DS_Store

# JSON datasets & schema documentation
*.json
database/*.json
database/schema.md
schema.md
